*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main {
    background-color: rgb(47, 46, 46);
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5%;
}
.card {
    height: 300px;
    width:300px;
    background-color: blue;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom {
    height: 40%;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -40%;
    background: linear-gradient(transparent,black);
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7%;
}
.card:hover .bottom{
    bottom: 0;
}

.bottom h4{
    color: white;
}
.bottom h3{
    padding: 5px 6.5px;
    background-color: white;
    border-radius: 50%;
}