*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

h1 {
    color: transparent;
    font-size: 300px;
    background-image: url(https://i.pinimg.com/originals/49/cd/d8/49cdd838e8c6d7fe5e2dd55deead5567.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
}
