* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100;
    width: 100;
    padding: 20px;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#box {
    background-color: green;
    height: 400px;
    width: 400px;
    border: 2px solid white;
    border-radius: 5px;
}

button {
    color: white;
    border: none;
    background-color: red;
    font-weight: 600;
    font-size: 20px;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    
}

button:hover {
    cursor: pointer;
    
}

button:active {
    scale: 0.95;
}

