*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: auto;
    background-color: black;
    padding: 10px;
    display: grid;
    grid-gap: 5px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;

    grid-template-areas: "header header header"
                         "section section section"
                         "div1 div2 div3"
    ;


}

header {
    background-color: aqua;
    grid-area: header;
}

section {
    background-color: blueviolet;
    grid-area: section;
}

#div1{
    background-color: aquamarine;
    grid-area: div1;
}
#div2{
    background-color: chocolate;
    grid-area: div2;
}
#div3{
    background-color: salmon;
    grid-area: div3;
}