*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 7%;
    width: 12%;
    font-family: monospace;
    font-size: 35px;
    font-weight: 600;
    color: white;
    background-color: coral;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}
button:active {
    scale: 0.95;
}