*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
} 

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    height: 300px;
    width: 500px;
    background-color: wheat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    color: blue;
}

p {
    margin-top: 10px;
}

#container {
    margin-top: 30px;
    width: 90%;
    height: 10%; 
    border-radius: 50px;
    background-color: white;
}

#incontainer {
    width: 0%;
    height: 100%; 
    border-radius: 50px;
    background-color: green;
}

#btn {
    margin-top: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
button {
    background-color: blue;
    width: 30%;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}
button:active {
    scale: 0.95;
}